<template>
  <div class="addOrEdit">
      <el-dialog :title="state === 0? '添加':'编辑'" :visible.sync="dialogFormVisible" @close='closeDialog'>
        <el-form :model="form">
            <el-form-item label="菜单名称" :label-width="formLabelWidth">
                <el-input v-model="form.resDesc" autocomplete="off"></el-input>
            </el-form-item>
            <el-form-item label="菜单路径" :label-width="formLabelWidth">
                <el-input v-model="form.resUrl" autocomplete="off"></el-input>
            </el-form-item>
            <el-form-item label="排序" :label-width="formLabelWidth">
                <el-input v-model="form.sort" autocomplete="off"></el-input>
            </el-form-item>
        </el-form>
        <div slot="footer" class="dialog-footer">
            <el-button @click="cancel">取 消</el-button>
            <el-button type="primary" @click="comfire">确 定</el-button>
        </div>
        </el-dialog>
  </div>
</template>

<script>
import { addMenu, editMenu, toFnu } from '@/api/api';
export default {
    name: 'addOrEdit',
    props: {
        dialogFormVisible: {
            type: Boolean,
            default: false
        },
        state: {
            type: Number
        },
        info: {
            type: Object
        }
    },
    data() {
        return {
            form: {
                resDesc: '',
                resUrl: '',
                sort: '',
                parentId: ''
            },
            formLabelWidth: '120px'
        }
    },
    methods: {
        displayNone() {
            this.$emit('hideEvent', false);
        },
        async comfire() {
            this.displayNone();
            //添加
            if(this.state === 0) {
                this.form.parentId = this.info.id;
                let [err, res] = await toFnu(addMenu(this.form));
                console.log(err);
                if(res.code === '100') {
                    this.$message({
                        message: res.msg,
                        type: 'success'
                    });
                    this.$emit('refreshList');
                }
            //编辑
            } else if(this.state === 1) {
                this.form.resId = this.info.id;
                this.form.type = 1;
                let [err, res] = await toFnu(editMenu(this.form));
                console.log(err);
                if(res.code === '100') {
                    this.$message({
                        message: res.msg,
                        type: 'success'
                    });
                    this.$emit('refreshList');
                }
            }
        },
        cancel() {
            this.displayNone();
        },
        closeDialog() {
            this.displayNone();
        }
    },
    mounted() {
        console.log(this.info)
    }
}
</script>

<style>

</style>