<template>
  <div class="custom-tree-container">
    <div class="block">
      <span class="spanBtnsParent">
        <el-button
          type="success"
          size="mini"
          @click="() => add({id: 0})">
          添加父节点
        </el-button>
      </span>
      <el-tree
        :data="listData"
        show-checkbox
        node-key="id"
        default-expand-all
        :expand-on-click-node="false"
        @check-change="handleCheckChange">
        <span class="custom-tree-node" slot-scope="{ node, data }">
          <span>{{ data.name }}</span>
          <span>
            <el-button
              type="success"
              size="mini"
              @click="() => add(data)">
              添加
            </el-button>
            <el-button
              type="info"
              size="mini"
              @click="() => edit(data)">
              编辑
            </el-button>
            <el-button
              type="danger"
              size="mini"
              @click="() => remove(node, data)">
              删除
            </el-button>
          </span>
        </span>
      </el-tree>
    </div>
    <addOrEdit :dialogFormVisible="isShow" :state="state" :info="info" @hideEvent="hideEvent" @refreshList="refreshList"></addOrEdit>
</div>
</template>

<script>
import { list, menuDelete, toFnu } from '@/api/api';
export default {
  name: 'menuSet',
  components: {
    addOrEdit:() => import('./components/addOrEdit')
  },
  data() {
    return {
      listData: [],
      isShow: false,
      state: 0, //0添加1编辑
      info: {},
      params:{
        resIds: ['36'],
      },
    }
  },

  methods: {
    //添加
    add(data) {
      this.hideEvent(true);
      this.info = data;
    },
    //编辑
    edit(data) {
      this.hideEvent(true);
      this.state = 1;
      this.info = data;
      console.log(data)
    },
    //删除
    remove(node, data) {
      console.log(node,data)
      let arr = [];
      arr.push(data.id);
      console.log(arr)
      this.params.resIds = arr;
      this.$confirm('您确定删除此菜单吗?', '提示', {
          confirmButtonText: '确定',
          cancelButtonText: '取消',
          type: 'warning'
        }).then(async () => {
          let [err, res] = await toFnu(menuDelete(this.params));
          console.log(err)
          if(res.code === '100') {
            this.$message({
              type: 'success',
              message: res.msg
            });
            this.refreshList();
          }
        }).catch(() => {
          this.$message({
            type: 'info',
            message: '已取消删除'
          });          
        });   
    },
    handleCheckChange(data, checked, indeterminate) {
      console.log(data, checked, indeterminate);
    },
    //菜单查询
    async list() {
      let [err, res] = await toFnu(list());
      this.listData = res.data;
      console.log(err, res)
    },
    //hideEvent
    hideEvent(v) {
      this.isShow = v;
    },
    refreshList() {
      this.list();
    }
  },
  mounted() {
    this.list();
    console.log(this.$refs.sets)
  }
}
</script>

<style lang="scss" scoped>
  .custom-tree-node {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
    padding-right: 8px;
  }
  .el-tree {
    padding: 20px;
    box-sizing: border-box
  }
  /deep/ .el-tree-node__content {
    margin-bottom: 5px;
  }
  .spanBtnsParent {
    padding-bottom: 10px;
    display: inline-block;
  }
</style>