#app, .main-box, .main-box /deep/ .el-card {
    height: 100%;
}
.main-box /deep/ .el-card__body {
    padding: 0;
}
.main-box /deep/ .el-card__header {
    padding: 14px 20px;
} 
.main-box /deep/ .el-table::before {
    background-color: transparent;
}
.main-box /deep/ .el-table__row td {
    padding: 6px 0;
}